<a href="https://colab.research.google.com/github/decastrosantos/Project-Exploring-NYC-Public-School-Test-Result-Scores/blob/main/Analyzing_SAT_Performance_in_NYC_Public_Schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project from Datacamp: Career track Associate Data Scientist in Python**

**Analyzing SAT Performance in NYC Public Schools: A Data Analyst's Approach**

In the U.S., high school students take the SATs, standardized tests designed to assess literacy, numeracy, and writing skills. The exam consists of three sectionsâ€”reading, math, and writing, each with a **maximum score of 800 points**. These scores play a crucial role in college admissions, influencing both students' futures and institutional decision-making.

As a Data Analyst, I set out to explore SAT performance across New York City (NYC) public schools. Understanding these trends is valuable for various stakeholders, including education policymakers, researchers, government officials, and parents evaluating school options.

Using the dataset `schools.csv`, I conducted an exploratory data analysis (EDA) to answer three key questions about SAT performance in NYC schools. This analysis provides insights into school performance patterns, helping inform discussions on education quality and equity.

By leveraging data analytics, we can uncover meaningful trends in student achievement and contribute to data-driven decision-making in education.

In [1]:
import pandas as pd

schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,index,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

1. Which NYC schools have the best math results?
The best math results are at least 80% of the maximum possible score of 800 for math.

In [12]:
best_math_threshold = 800 * 0.80  # 80% of 800

Filter schools with average_math >= 640

In [11]:
best_math_schools = schools[schools['average_math'] >= best_math_threshold][['school_name', 'average_math']]

Sort by average_math in descending order

In [9]:
best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

2. What are the top 10 performing schools based on the combined SAT scores Calculate the total SAT score (math + reading + writing)

In [10]:
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# The top 10 schools based on total_SAT
top_10_schools = schools[['school_name', 'total_SAT']].sort_values(by='total_SAT', ascending=False).head(10)

# The results
print("Best Math Schools:")
print(best_math_schools)

print("\nTop 10 Performing Schools based on Combined SAT Scores:")
print(top_10_schools)

Best Math Schools:
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

Top 10 Performing Schools based on Combined SAT Scores:
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

3. Group by borough and calculate the required statistics:
- Number of schools in the borough
- Mean of total_SAT
- Standard deviation of total_SAT

In [13]:
borough_stats = schools.groupby('borough').agg(
    num_schools=('school_name', 'size'),  # Number of schools in the borough
    average_SAT=('total_SAT', 'mean'),    # Mean of total_SAT
    std_SAT=('total_SAT', 'std')          # Standard deviation of total_SAT
).reset_index()

# Round all numeric values to two decimal places
borough_stats = borough_stats.round(2)

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'].idxmax()]

# Convert the result to a DataFrame with one row
largest_std_dev = pd.DataFrame(largest_std_dev).transpose()

# Display the result
print(largest_std_dev)

     borough num_schools average_SAT std_SAT
2  Manhattan          89     1340.13  230.29